
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size:16px;

}

.firstSec img{
    width: 100%;
    height: 100%;
}

a,a:hover,a:active,a:focus {
	text-decoration:none;
}



/*=============Style css=========*/

/*---------headrer section --------------------------------*/
nav.navbar.bootsnav {
    background-color: transparent;
    border-bottom: transparent;
}
.wrap-sticky nav.navbar.bootsnav.sticked {background-color: #fff;box-shadow: 0 2px 5px rgba(0,0,0,.2);}
/*.navbar-brand*/
.navbar-header a.navbar-brand,.navbar-header a.navbar-brand:hover,.navbar-header a.navbar-brand:focus {
    display: inline-block;
    color: #616060;
    font-size: 24px;
    font-weight: 500;
    padding: 45px 0px;
    text-transform:capitalize;
}
.navbar-header a.navbar-brand span{display: inline-block;color:#cd1719;text-transform:capitalize;}

.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:hover,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:focus {padding:30px 0px;}
/*.navbar-brand*/

/*.nav li*/
nav.navbar.bootsnav ul.nav > li > a {
    color: #616060;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}
nav.navbar.bootsnav ul.nav > li > a {padding: 48px 25px;}
nav.navbar.bootsnav ul.nav > li > a:hover,nav.navbar.bootsnav ul.nav > li > a:focus{color: #cd1719;}
nav.navbar.bootsnav ul.nav > li.active>a {color: #cd1719;}

nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after {
    content: "";
}
nav.navbar.bootsnav ul.nav > li.dropdown span {
    font-size: 8px;
    margin-left: 15px;
}
.wrap-sticky nav.navbar.bootsnav.sticked ul.nav > li > a{padding:30px 25px;}
/*.nav li*/


/*.menu-ui-design*/

/*.attr-nav*/
.attr-nav {
    position: relative;
    top:5px;
}
.attr-nav > ul > li > a {
    color: #616060;
    padding: 44px 15px;
    font-size: 18px;
    font-weight: 500;
}
.attr-nav > ul > li > a:hover{color: #cd1719;}
.wrap-sticky nav.navbar.bootsnav.sticked .attr-nav > ul > li > a {padding:28px 15px;}
/*.attr-nav*/

/*badge*/
.badge {
    background-color: #cd1719;
    border: 2px solid #cd1719;
}
.attr-nav > ul > li > a span.badge {
    margin-top: -25px;
    width: 20px;
    height: 20px;
    padding-top: 3px;
}
/*.badge*/

select{
  border: none;
  box-shadow: none;
  outline: none;
}

/*.navbar-toggle */
nav.navbar.bootsnav .navbar-toggle {
    position: relative;
    background-color: transparent;
    border: 1px solid #cd1719;
    padding: 7px 15px;
    top: 0;
}

.fa-bars:before, .fa-navicon:before {
  content: "\f0c9";
  font-size: 20px;
}
.fa-close:before, .fa-multiply:before, .fa-remove:before, .fa-times:before, .fa-xmark:before {
  content: "\f00d";
  font-size: 20px;
}
nav.navbar.bootsnav .navbar-toggle i{color: #cd1719;}
/*.navbar-toggle */


span.newBadge {
    background-color: #cd1719 !important;
    color: #fff;
    padding: 0px 5px;
    border-radius: 5px;
  }
  
  /* first section here  */
  .firstSec {
    height: auto;
    width: 100%;
    padding: 20px 0px 30px 0;
  }
  /* first section here  */
  
  /* second section here  */
  .secondSec {
    height: auto;
    width: 100%;
    padding: 50px 0;
  }
  
  .card-float {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    -webkit-box-shadow: 0.3125rem 0.3125rem 1.25rem rgb(38 27 17 / 18%);
    box-shadow: 0.3125rem 0.3125rem 1.25rem rgb(38 27 17 / 18%);
  }
  

  
  .secondSec a {
    text-decoration: none;
    color: #cd1719;
  }
  
  .secondSec .current {
    color: green;
  }
  /* second section here  */
  
  /* .third section here  */
  .thirdSec {
    height: auto;
    width: 100%;
    padding: 50px 0;
  }
  
  .thirdSec .img-fluid {
    width: 96% !important;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .thirdSec .head {
    padding: 10px 0;
  }
  /* .thirdSec .img-fluid:nth-child(3) {
    width: 100% !important;
    height: 5000px;
  } */
  /* .third section here  */
  

/* shop section here  */
.shopSec {
  height: auto;
  width: 100%;
  padding: 50px 0;
}

.shopCard {
  box-shadow: -3px 5px 20px 3px rgb(3 0 71 / 9%);
  height: 340px;
  border: 0;
}
.shopCard:hover {
  transition: box-shadow 0.25s ease;
}
.shopCard img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.cartBtn {
  padding: 6px 15px;
  background-color: #cd1719;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.des {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.priceSec {
  display: flex;
  justify-content: space-between;
}

.priceLeft {
  font-size: 22px;
  font-weight: bold;
}

.des,
.priceSec {
  padding: 5px 15px;
}


/* shop section here  */
  
  /* slider code here  */
  .slick-prev:before,
  .slick-next:before {
    content: '←';
    color: #cd1719 !important;
    font-size: 25px !important;
  }
  
  @media only screen and (max-width: 767px) {
    .slick-slider {
      padding: 0px 20px 0px 20px !important;
    }
  }
  /* slider code here  */
  
  /* mobile responsive code here  */
  @media only screen and (max-width: 600px) {
    #opening-hours {
      margin-bottom: 20px;
    }
    .thirdSec .img-fluid {
      width: 100% !important;
      margin: 0;
    }
  }
  




/*------  Footer  -------------------*/
.footer {
    background: #f8f9fd;
    display: flex;
    align-items: center;
    height: 154px;
}
.hm-footer-copyright p,.hm-footer-copyright p a {
    color: #a5adb3;
    font-size: 14px;
    font-weight: 400;
}
.footer-social a i {
    color: #a4aaaf;
    margin: 0 18px 24px 0;
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
    font-size: 18px;
}
.footer-social i:hover{color: #cd1719;}

@keyframes example {
    0%   {bottom:0px;}
    100%  {bottom:7px;}
}

nav.navbar.bootsnav.menu-center ul.nav.navbar-center {
    float: none;
    margin: none !important;
    display: table;
    table-layout: fixed;
}
/*========================Thank you=================